.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    // backdrop-filter: blur(6px);
}

.main-ai-window {
    background: #02092E;
    background: linear-gradient(180deg, #02092E 22%, #091e8b 54%, #FCFCFC);
    border-radius: 20px;
    padding: 24px;
    border: #fff solid 1px;
    max-width: 1300px;
    max-height: 780px;
    width: 90%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    // position: relative;

    .action-buttons {
        display: flex;
        justify-content: space-between; 
        width: 100%;
        gap: 10px;

        button {
            background: transparent;
            border: none;
            cursor: pointer;
            width: 24px;
            height: 24px;
        }

    }
    .title {
        font-size: 1.5rem;
        font-weight: 600;
    }
    .ai-options {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        button {
            background: rgba(255, 255, 255, 0.2);
            border: none;
            border-radius: 8px;
            padding: 8px 16px;
            cursor: pointer;
            color: #fff;
        }
    }

    .ai-input {
        position: relative;
        background: #fff;
        border-radius: 10px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 480px;
        min-height: 120px;
        max-height: 200px;


        textarea {
            border: none;
            outline: none;
            font-size: 1rem;
            width: 100%;
            min-height: 120px;
            max-height: 200px;

        }

        img {
            position: absolute;
            bottom: 16px;
            right: 16px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #0A186A;
            background: linear-gradient(0deg,rgba(10, 24, 106, 0.99) 10%, rgba(20, 47, 208, 1) 100%);
            padding: 7px 8px;
            cursor: pointer;
        }
    }

    .logo {
        align-self: flex-start;
        img {
            height: 24px;
        }
    }
}

